name: build

on: 
  - push
  - delete

jobs:
  sync:
    runs-on: ubuntu-latest
    name: Git Repo Sync
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: wangchucheng/git-repo-sync@master
      with:
        target-url: 'https://gitee.com/wangchucheng/git-repo-sync.git'
        target-username: 'wangchucheng'
        target-token: ${{ secrets.GITEE_ACCESS_TOKEN }}